@import "leaflet/dist/leaflet.css";

.modal{
  width: 40%;
  height: 40%;
  position: absolute; /* Permite moverlo libremente */
  right: 0; /* Coloca el modal en el lado derecho *//* Ajusta para centrar verticalmente */
  z-index: 1; /* Asegúrate de que esté por encima de otros elementos */

}
.modalForm{

  width: 40%;
  height: 40%;
  top:0;
  position: absolute; /* Permite moverlo libremente */
  right: 0; /* Coloca el modal en el lado derecho *//* Ajusta para centrar verticalmente */
  z-index: 1; /* Asegúrate de que esté por encima de otros elementos */
}

.restoreButton{
  position: absolute; /* Cambia según tu diseño */
  top: 10px; /* Ajusta la posición según necesites */
  right: 10px; /* Ajusta la posición según necesites */
  width: 40px;
  margin-left: 8px;
  left: 0;
  margin-top: 10%;
  z-index: 2;
}

#map {
  z-index: 0;
  position: relative;
  height: 100%;
  width: 100%;
}
