@import "leaflet/dist/leaflet.css";

.vistaVer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la vista */
  position: relative; /* Para asegurar que los elementos dentro se posicionen correctamente */
}

.example-card {
  width: 400px; /* Ancho fijo del modal */
  padding: 4px; /* Reduce el espaciado interno para achicar la tarjeta */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
  border-radius: 8px; /* Bordes redondeados */
  max-height: 70%; /* Establece una altura máxima si lo deseas */
  overflow-y: auto; /* Permite el desplazamiento si el contenido excede la altura */
}

.mat-card-header {
  background-color: #f5f5f5; /* Color de fondo para el encabezado */
  border-bottom: 1px solid #e0e0e0; /* Línea inferior para separación */
}

.mat-card-title {
  font-size: 1.5rem; /* Tamaño de fuente más grande */
  font-weight: bold; /* Negrita para mayor énfasis */
}

.mat-card-subtitle {
  color: #666; /* Color gris para el subtítulo */
}

form {
  display: flex;
  flex-direction: column; /* Disposición vertical */
  gap: 10px; /* Espacio entre los elementos del formulario */
}

input[type="file"] {
  margin-bottom: 10px; /* Espacio debajo del campo de archivo */
}

button {
  margin-top: 10px; /* Espacio superior para los botones */
}
