@import "leaflet/dist/leaflet.css";

.modal{
  width: 40%;
  height: 60%;
  position: absolute; /* Permite moverlo libremente */
  right: 0; /* Coloca el modal en el lado derecho *//* Ajusta para centrar verticalmente */
  z-index: 1; /* Asegúrate de que esté por encima de otros elementos */
  pointer-events: none;
}


#map {
  z-index: 0;
  position: relative;
  height: 100%;
  width: 100%;
}
