<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title class="title">Nuestros objetivos ambientales</mat-card-title>
      <mat-card-subtitle class="subtitle">Trabajando juntos y en comunidad para crear un futuro sustentable</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="objectives">
        <mat-list>
          <mat-list-item>
            <mat-icon>public</mat-icon>
            <div class="objective-text">
              <h3>Reducir la contaminación ambiental</h3>
              <p class="objective-description">Encourage citizens to report contaminated zones and take active steps toward reducing pollution.</p>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-icon>nature</mat-icon>
            <div class="objective-text">
              <h3>Promover una ciudad verde</h3>
              <p class="objective-description">Identify and protect green areas in the city, encouraging urban gardening and the creation of parks.</p>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-icon>eco</mat-icon>
            <div class="objective-text">
              <h3>Reportar áreas contaminadas</h3>
              <p class="objective-description">Allow citizens to upload images of problematic zones and help with monitoring and solutions.</p>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/">Reportar una Zona</button>
    </mat-card-actions>
  </mat-card>
</div>
