.example-card {
  max-width: 400px;
  max-height: 490px;
  overflow-y: auto;
}

.example-header-image {
  background-image: url('/assets/basura.png');
  background-size: cover;
}

.imgPath{
  width: 100%;
  height: 190px;
}



