<div *ngIf="mapaService.vistaVer" class="modal-info">
  <h2>Detalles del Incidente</h2>
  <p><strong>ID:</strong> {{ mapaService.selectedMarkerData.id }}</p>
  <p><strong>Coordenadas:</strong> {{ mapaService.selectedMarkerData.coordenadas[0] }}, {{ mapaService.selectedMarkerData.coordenadas[1] }}</p>
  <p><strong>Tipo de Alerta:</strong> {{ mapaService.selectedMarkerData.tipo_alerta }}</p>
  <p><strong>Tipo de Incidente:</strong> {{ mapaService.selectedMarkerData.tipo_incidente }}</p>
  <p><strong>Usuario:</strong> {{ mapaService.selectedMarkerData.usuario }}</p>
  <p><strong>Fecha y Hora:</strong> {{ mapaService.selectedMarkerData.fecha_hora }}</p>
  <p><strong>Mensaje:</strong> {{ mapaService.selectedMarkerData.mensaje }}</p>
  <img [src]="'assets/images/' + mapaService.selectedMarkerData.imagen" alt="Imagen del incidente" width="200px">

  <button (click)="mapaService.closeModal()">Cerrar</button>
</div>
